* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 15, 15);

  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-size: 20px;
}

.tag {
  padding: 0.3em;
  margin: 0.1em;

  border-radius: 0.3em;
  box-shadow: 0 0 0.3em #00000054;

  display: inline-block;
}

.tag.hidden {
  display: none;
}

.roster-element {
  max-width: 6.5%;
  margin: 0.3%;
}

#tags-assigned {
  padding: 0.6em;
  border-bottom: 2px solid #0000000f;
  min-height: 20%;
}

#tags-textbox-wrap {
  padding: 0.6em;
}

#tags-textbox {
  width: 10em;

  padding: 0.3em;
  margin: 0.1em;

  border-radius: 0.3em;
  box-shadow: 0 0 0.3em #00000054;
  background-color: hsl(147, 100%, 50%);
}

#tags-suggested {
  padding: 0.6em;
  border-bottom: 2px solid #00000045;
  min-height: 20%;
}

#tags-editor {
  background-color: #f3f2ef;
  height: 62%;
  width: 20%;
  padding: 1em;
  overflow: scroll;

  position: absolute;
  top: 2em;
  right: 0;

  border-radius: 0.5em 0 0 0.5em;
}

#main {
  position: absolute;
  top: 0;
  left: 50%;

  height: 80vh;
  width: 80vw;
  object-fit: contain;

  transform: translate(-50%, -0%);
}

#roster {
  background-color: #0d0d0d;

  position: absolute;
  bottom: 0;
}

.fullscreen {
  z-index: 999;
  height: 99vh !important;
  width: 99vw !important;
}
