* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 15, 15);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.roster-element {
  max-width: 6.5%;
  margin: 0.3%;
}

#main {
  position: absolute;
  top: 0;
  left: 50%;

  height: 80vh;
  width: 80vw;
  object-fit: contain;

  transform: translate(-50%, -0%);
}

#roster {
  position: absolute;
  bottom: 0;
}

.fullscreen {
  z-index: 999;
  height: 99vh !important;
  width: 99vw !important;
}
